.members-table td:first-child {
    width: 40px;
}

.members-table td:nth-child(2) {
    padding: 0;
    width: 50px;
}

.members-table td:nth-child(2) i {
    margin-top: 10px;
}

.members-table th,
.members-table td {
    border-top: none;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.5)
}

.avatar-lg {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.5)
}

.links > a {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.links > a:hover {
    opacity: 0.8;
}

.card-text i {
    width: 20px;
}

.fa-user-circle {
    color: #bdbdbd;
}

.delete-btn {
    margin-top: -61px;
}
